@import "../abstract/variables";

.clock {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 1rem 2rem;

	background: $afternoon-color-white;
	border-radius: 10px;
	box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);

	.clock__display {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 1px;

		padding: 0.5rem;
		width: 14rem;

		border-radius: 6px;
		box-shadow: inset -3px -3px 7px #ffffff73, inset 2px 2px 5px rgba(94, 104, 121, 0.288);

		.clock__icon {
			background-color: transparent;
			width: 3rem;
			height: 3rem;
		}

		.clock__text {
			font-family: $font-cousine;
			font-size: 3rem;
			font-weight: 700;
		}

		.date__text {
			font-family: $font-fira;
			font-size: 1.2rem;
			font-style: italic;
			font-weight: 600;
		}
	}
}

.clock-night {
	filter: invert(90%);
}

@media screen and (min-width: $screen-tablet) {
	.clock {
		flex-direction: row;
		padding: 2rem;
		width: 85%;

		.clock__display {
			.clock__icon {
				width: 4rem;
				height: 4rem;
			}

			.clock__text {
				font-size: 4rem;
			}

			.date__text {
				font-size: 2rem;
			}
		}

		.clock__display:first-child {
			width: 18rem;
		}
		.clock__display:last-child {
			width: 35rem;
		}
	}
}

@media screen and (min-width: $screen-computer) {
	.clock {
		gap: 2rem;
		.clock__display {
			.clock__icon {
				width: 5rem;
				height: 5rem;
			}

			.clock__text {
				font-size: 5rem;
			}

			.date__text {
				font-size: 3rem;
			}
		}

		.clock__display:first-child {
			width: 30%;
		}
		.clock__display:last-child {
			width: 65%;
		}
	}
}
